@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/app/searchdatatable.js"></script>
<div class="row" id="branchsetupaddedit"></div>
<div class="row" id="branchsetuplist"></div>
<script>

    var branchId = '@ViewBag.BranchId';
    var hasRight = '@ViewBag.HasAccess';

    jQuery(function ($){
        $(document).ready(function () {
            @*if (hasRight == 'False') {
                var url = '@Url.Action("Error403", "Error", new { Area = "Admin" })';
                window.location.href = url;
            }
            else {*@
                //$.noConflict();
                LoadBranchList();
                LoadBranchAddEdit();
                DOMIDs.AddEdit = "branchsetupaddedit";
                DOMIDs.List = "branchsetuplist";
            //}
        });
    });

    function LoadBranchList() {
        jQuery.ajax({
            url: '@Url.Action("List","BranchSetup",new {},Request.Url.Scheme)',
            type: "Get",
            contentType: "application/html; charset=utf-8",
            dataType: 'html'
        })
        .success(function (result) {
            jQuery("#" + DOMIDs.List).html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        });
    }

    function LoadBranchAddEdit() {

            var model = {
                Brancheid:0,
                BranchName: '',
                BranchCode: '',
                TelNumber: '',
                CellNumber: '',
                Address2: '',
                Address2: '',
                Address3: '',
                Address4: '',
                Code: '',
                Region: '',
        };

            jQuery.ajax({
                url: '@Url.Action("Add","BranchSetup",new {},Request.Url.Scheme)',
                type: "Post",
                data: JSON.stringify(model),
                contentType: "application/html; charset=utf-8",
                dataType: 'html'
            })
            .success(function (result) {
                jQuery("#" + DOMIDs.AddEdit).html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            });
    }
</script>