@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/app/searchdatatable.js"></script>
<script src="~/Scripts/plugins/dateformat/DateFormat.js"></script>
<div class="form-group" id="companysetupaddedit"></div>
<div class="form-group" id="companysetuplist"></div>
@Html.Hidden("IsSuperUserAccess", (bool)(ViewBag.IsSuperUserAccess))
<script>
    var applicationId = '@ViewBag.applicationId';
    var hasRight = '@ViewBag.HasAccess';
    jQuery(function ($) {
    $(document).ready(function () {
                $.noConflict();
                var isSuperUserAccess = '@ViewBag.IsSuperUserAccess';
                if (isSuperUserAccess=='True') {
                    LoadCompanyList();
                }
                else {
                    LoadCompanyByParlour();
                }
                DOMIDs.AddEdit = "companysetupaddedit";
                DOMIDs.List = "companysetuplist";

    });
    });
    function LoadCompanyList() {
        $.ajax({
            url: '@Url.Action("List","CompanySetup",new {},Request.Url.Scheme)',
            type: "Get",
            contentType: "application/html; charset=utf-8",
            dataType: 'html'
        })
            .success(function (result) {
                jQuery("#" + DOMIDs.List).html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        });
    }
    function LoadCompanyByParlour() {

            var model = {
                Brancheid:0,
                BranchName: '',
                BranchCode: '',
                TelNumber: '',
                CellNumber: '',
                Address2: '',
                Address2: '',
                Address3: '',
                Address4: '',
                Code: '',
                Region: '',
            };

        jQuery.ajax({
                url: '@Url.Action("Add","CompanySetup",new {},Request.Url.Scheme)',
                type: "Post",
                data: JSON.stringify(model),
                contentType: "application/html; charset=utf-8",
                dataType: 'html'
            })
            .success(function (result) {
                jQuery("#" + DOMIDs.AddEdit).html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            });

    }

</script>