@model Funeral.Model.ClaimStatusHistoryModal
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Claim Status History</title>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/dateformat/DateFormat.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-90748185-1', 'auto');
        ga('send', 'pageview');
    </script>
    <style>
        #AjaxLoader {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            background-color: #666;
            background-image: url('../../Content/images/ajax-loader.gif');
            background-repeat: no-repeat;
            background-position: center;
            z-index: 10000000;
            opacity: 0.4;
            filter: alpha(opacity=40); /* For IE8 and earlier */
        }

        .fixed_header {
            table-layout: fixed;
            border-collapse: collapse;
        }

            .fixed_header tbody {
                display: block;
                width: 100%;
                overflow: auto;
                height: 350px;
            }

            .fixed_header thead tr {
                display: block;
            }

            .fixed_header thead {
                background: #f5f5f6;
                color: #686b6d;
            }

            .fixed_header th, .fixed_header td {
                padding: 5px;
                text-align: left;
                width: 500px;
            }

        .fixed_header-bordered th {
            border: 1px solid #dee2e6;
        }


        .fixed_header > thead > tr > th, .fixed_header > tbody > tr > th, .fixed_header > tfoot > tr > th, .fixed_header > thead > tr > td, .fixed_header > tbody > tr > td, .fixed_header > tfoot > tr > td {
            border-top: 1px solid #e7eaec;
            line-height: 1.42857;
            padding: 8px;
            /* vertical-align: top; */
        }

        input.largerCheckbox {
            width: 20PX;
            height: 20PX;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">


            <div class="dataTables_wrapper">
                <div class="col-sm-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Claims Status History</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-12">

                                    @{
                                        var tupledata = new Tuple<Funeral.Model.ClaimsModel, Funeral.Model.FuneralModel>(Model.claimsModel, Model.funeralModel);
                                        Html.RenderPartial("_ClaimStatusHistoryDetails", tupledata);
                                    }

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-7">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="m-b-md">
                                                    <h2>Supporting Documents</h2>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="panel blank-panel">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <table class="fixed_header fixed_header-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th>Document Type</th>
                                                                <th>Document Name</th>
                                                                <th>Status</th>
                                                                <th>Comment</th>
                                                                <th>Created Date</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                if (Model.claimDocuments != null)
                                                                {
                                                                    foreach (var item in Model.claimDocuments)
                                                                    {
                                                                        <tr>
                                                                            <td>@item.DocumentName</td>
                                                                            <td>@item.ImageName</td>
                                                                            <td>
                                                                                @if (item.pkiClaimPictureID > 0)
                                                                                {
                                                                                    <span class="label label-primary">@item.Status</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>@item.Status</span>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                @if (item.pkiClaimPictureID > 0)
                                                                                {
                                                                                    <a style="cursor:pointer;font-size:smaller;white-space: pre-line" title="Click to Show History">
                                                                                        @Html.Raw(item.Comment)
                                                                                    </a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>@Html.Raw(item.Comment)</span>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                @if (item.pkiClaimPictureID > 0)
                                                                                {
                                                                                    @item.CreateDate.ToString("dd MMM yyyy hh:mm tt")
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>-----</span>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                @{
                                                                                    if (item.pkiClaimPictureID > 0)
                                                                                    {
                                                                                        <a title="Download this claim document" href="~/Handler/DocumentHandler.ashx?DocClaimID=@item.pkiClaimPictureID"><i class="glyphicon glyphicon-download"></i></a>
                                                                                    }
                                                                                    if (!item.IsUploaded)
                                                                                    {
                                                                                        <span class="label label-danger" accesskey="@Model.claimsModel.parlourid" style="cursor:pointer;" title="Click to Upload Document" onclick="OpenClaimDocumentPopUp(@Model.claimsModel.pkiClaimID,this,@item.DocumentId)">Add Document</span>
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="m-b-md">
                                                    <h2>Payment History</h2>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="panel blank-panel">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <table id="memberDataTable" class="fixed_header fixed_header-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>Date paid</th>
                                                                <th>Amount</th>
                                                                <th>Recieved by</th>
                                                                <th>Notes</th>
                                                                <th>Actions</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                if (Model.memberInvoices != null && Model.memberInvoices.Count > 0)
                                                                {
                                                                    foreach (var item in Model.memberInvoices)
                                                                    {
                                                                        <tr>
                                                                            <td>@item.DatePaid</td>
                                                                            <td>@item.AmountPaid</td>
                                                                            <td>@item.RecievedBy</td>
                                                                            <td>@item.Notes</td>
                                                                            <td>
                                                                                <a href="@Url.Action("PrintPaymentReceipt", "Payments", new { id = item.InvoiceID, Type = 1, PolicyNumber = Model.claimsModel.MemberNumber, DatePaid = item.DatePaid, AmountPaid = item.AmountPaid, PaidBy = item.PaidBy, ReceivedBy = item.RecievedBy, MonthPaid = item.Notes ,memberId=Model.claimsModel.fkiMemberID, parlourId=Model.claimsModel.parlourid})">
                                                                                    <i class="glyphicon glyphicon-print"></i>
                                                                                </a>&nbsp;&nbsp;<a href="@Url.Action("PrintPaymentReceipt", "Payments", new { id = item.InvoiceID, Type = 2, PolicyNumber = Model.claimsModel.MemberNumber, DatePaid = item.DatePaid, AmountPaid = item.AmountPaid, PaidBy = item.PaidBy, ReceivedBy = item.RecievedBy, MonthPaid = item.Notes,MemberId=Model.claimsModel.fkiMemberID, parlourId=Model.claimsModel.parlourid })">
                                                                                    <i class="glyphicon glyphicon-export"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="m-b-md">
                                                    <h2>Status History</h2>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="panel blank-panel">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <table id="memberDataTable" class="fixed_header fixed_header-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>Status</th>
                                                                <th>Changed To Status</th>
                                                                <th>Reason</th>
                                                                <th>Changed By</th>
                                                                <th>Changed Date</th>
                                                                <th>Comment</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                foreach (var item in Model.claimStatusHistory)
                                                                {
                                                                    <tr>
                                                                        <td>@item.CurrentStatus</td>
                                                                        <td>@item.NewStatus</td>
                                                                        <td>@item.ChangeReason</td>

                                                                        <td>@item.ChangedByName</td>
                                                                        <td>@item.CreatedDate.ToString("dd MMM yyyy hh:mm tt")</td>
                                                                        <td>@item.Comment</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="LoadPartialView_ManageClaims"></div>
            <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
            <script src="~/Scripts/plugins/pace/pace.min.js"></script>
            <script src="~/Scripts/plugins/slimScroll/jquery.slimscroll.min.js"></script>
            <script src="~/Scripts/app/inspinia.js"></script>
            <script src="~/Scripts/Plugins/dataTables/jquery.dataTables.js"></script>
            <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
            <script src="~/Scripts/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
            <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
            <script>
        jQuery(function ($) {
            $(document).ajaxStart(function () {
                $('#AjaxLoader').show();
            }).ajaxStop(function () {
                $('#AjaxLoader').hide();
            });
        });
        function OpenClaimDocumentPopUp(GetClaimId, control, pkiClaimPictureID) {
            var CurrentParlourId = control.accessKey;
            var GenerateSendMailURL = "@Url.Action("ClaimDocumentPartial","ExternalUser",new {ClaimId="GetClaimId",parlourId="GetParlourId",pkiClaimPictureID="GetpkiClaimPictureID",ExternalToken="GetExternalToken"})".replace("GetClaimId", GetClaimId).replace("amp;", "").replace("GetParlourId", CurrentParlourId).replace("GetpkiClaimPictureID", pkiClaimPictureID).replace("amp;", "").replace("GetExternalToken", "@ViewBag.ExternalToken").replace("amp;", "");
            $.ajax({
                url: GenerateSendMailURL,
                type: 'GET',
                cache: false,
            }).done(function (result) {
                $('#LoadPartialView_ManageClaims').empty().html(result);
                $("#AddDocModal").modal("show");
                $('.modal-backdrop').removeClass("modal-backdrop");
            });
        }
            </script>
            <script src="~/Scripts/app/messagebox.js"></script>

        </div>
    </div>
</body>
</html>
