@model Funeral.Model.Dashboard
@{
    ViewBag.Title = "Claim Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        RenderClaimDashboard(document.getElementById("CompanyList"))
    });
    function RedirectToClaimPage(CurrentValue) {
        $.post("@Url.Action("Index","Claims")", { Status: CurrentValue }, function (result) {});
    }
    function RenderClaimDashboard(Control) {
        var CompanyId = Control.value;
        if (CompanyId != null && CompanyId != "") {
            BindGroupDropdown(CompanyId);
            var BookId = $("#ddlClaimSociety").val();
            LoadClaimDashboard(CompanyId,BookId)
        }
        else {
            alert("Please select Scheme");
        }
    }
    function LoadClaimDashboard(CompanyId, BookId) {
        var Geturl = "@Url.Action("RenderClaimDashboard", "Claims", new {CompanyId="GetCompanyId",BookId="getBookId"})".replace("GetCompanyId", CompanyId).replace("amp;", "").replace("getBookId", BookId);
        $.ajax({
            url: Geturl,
            type: 'GET',
            cache: false,
        }).done(function (result) { $('#dvClaimDashboardRendering').empty().html(result); });
    }
    function BindGroupDropdown(ParlourId) {
        var ddlCustomers = $("#ddlClaimSociety");
        ddlCustomers.empty().append('<option selected="selected" value="0">All</option>');
        jQuery.ajax({
            url: '@Url.Action("BindGroupByCompanyId","Claims")',
            data: { CompanyId: ParlourId },
            type: "post",
            success: function (response) {
                ddlCustomers.empty().append('<option selected="selected" value="0">All</option>');
                jQuery.each(response, function () {
                    ddlCustomers.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
     function ChangeBook_LoadDashboard(Control) {
        var BookId = Control.value;
        if (BookId != null && BookId != "") {
            var CompanyId = $("#CompanyList").val();
            LoadClaimDashboard(CompanyId,BookId)
        }
        else {
            alert("Please select Book");
        }
    }


</script>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Claim Dashboard</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Scheme: </label>
                            @Html.DropDownList("CompanyList", new SelectList(ViewBag.Companies, "parlourid", "ApplicationName"), new { @onchange = "RenderClaimDashboard(this)", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Book: </label>
                            <select class="form-control" id="ddlClaimSociety" onchange="ChangeBook_LoadDashboard(this)"></select>
                        </div>
                    </div>
                </div>
                <div id="dvClaimDashboardRendering"></div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/app/searchdatatable.js"></script>
<script src="~/Scripts/plugins/ChartJScript/ChartJS_script.js"></script>
<script type="text/javascript">
     var IsDisplayDashboarTable = @Html.Raw(Json.Encode(Model.IsDisplayDashboarTable));
    if (IsDisplayDashboarTable == true)
    {
      function LoadFuneralList() {
        jQuery.ajax({
            url: '@Url.Action("List", "Dashboard", new {},Request.Url.Scheme)',
            type: "Get",
            contentType: "application/html; charset=utf-8",
            dataType: 'html'
        })
            .success(function (result) {
                    jQuery("#DashboardList").html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        });
        }
        $(document).ready(function () {
            LoadFuneralList();
        });
    }
</script>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            @*<div class="ibox-content" id="DivpaymentCollection">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget style1 red-bg">
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <span>SMS Credits</span>
                                    <h2 class="font-bold" id="OpenModel">
                                        <label id="lblTotalSMSCreditsCount" data-toggle="modal" data-target="#divSMSTopupModal">@Model.TotalSMSCreditsCount</label>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget style1 red-bg">
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <i class="fa fa-bell fa-5x"></i>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <span>Outstanding Payments</span>
                                    <h2 class="font-bold">
                                        <label id="lblOutstandingPaymentsCount" data-toggle="modal" data-target="#divOutstandingSendMessages">@Model.OutstandingPaymentsCount</label>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget style1 red-bg">
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <i class="fa fa-trophy fa-5x"></i>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <span>Premium Collected</span>
                                    <h2 class="font-bold">
                                        <label id="lblTodayTotalPayment" data-toggle="modal" data-target="#divGenerateCashUpReport_FromDashboard">@Model.TodayTotalPayment</label>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="ibox-content">
                @{ Html.RenderPartial("~/Areas/Admin/Views/Claims/ClaimDashboardChart.cshtml", Model.dashboardChart); }
            </div>

            @*<div class="ibox-content">
                <div class="row" id="DashboardList"></div>
            </div>*@

        </div>
    </div>
</div>



@*<div class="ibox-content">
        @{ Html.RenderPartial("~/Areas/Admin/Views/Claims/ClaimDashboardChart.cshtml", Model.ClaimDashboardChart); }
    </div>

    <div class="ibox-content">
        <div class="row" id="DashboardList"></div>
    </div>*@



