@model Funeral.Model.Search.ClaimSearch
@{
    ViewBag.Title = "Claims";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/datatablecss")

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/plugins/datapicker/bootstrap-timepicker.min.js"></script>
<script src="~/Scripts/plugins/dateformat/DateFormat.js"></script>
<script src="~/Scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
<link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>

<div class="dataTables_wrapper">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <div class="ibox-title">
                    <h5>Claim Details</h5>
                    <div class="pull-right">
                        <a href="@Url.Action("ClaimAddEdit", "Claims", new { pkiClaimID = 0 })" class="btn btn-primary"><i class="fa fa-plus"></i> Add Claims</a>
                    </div>
                </div>

            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="input-group" style="color:red;">
                                <ul id="validationMessage" hidden></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <label>Show Entries:</label>
                            @Html.DropDownListFor(m => m.PageSize, new SelectList(ViewBag.EntriesCount, "Value", "Key"), new { @class = "form-control" })
                        </div>
                        <div class="col-lg-2" id="dvAdministrator">
                            <div class="form-group">
                                <label>Scheme </label>
                                @Html.DropDownListFor(m => m.CompanyId, new SelectList(ViewBag.Companies, "parlourid", "ApplicationName"), new { @class = "form-control" })
                            </div>
                        </div>
                          <div class="col-lg-2" id="dvAdministrator">
                            <div class="form-group">
                                <label>Group </label>
                                 @Html.DropDownListFor(m => m.SocietyID, new SelectList(ViewBag.SocietyLists, "pkiSocietyID", "SocietyName"),"Select Group", new { @id = "ddlClaimSociety", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label>Date From:</label>
                                @Html.TextBoxFor(x => x.DateFrom, "{0:dd MMM yyyy}", new { @placeholder = "DD MM YYYY", @id = "txtDateFrom", @autocomplete = "off", @class = "form-control DatepickerSelection" })
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label>Date To:</label>
                                @Html.TextBoxFor(x => x.DateTo, "{0:dd MMM yyyy}", new { @placeholder = "DD MM YYYY", @id = "txtDateTo", @autocomplete = "off", @class = "form-control DatepickerSelection" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Status:</label>
                                @Html.DropDownListFor(x => x.StatusId, new SelectList(ViewBag.Statuses, "Status", "Status"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>wildcard search : </label>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.SarchText, new { @placeholder = "Search By Keyword", @class = "form-control" })
                                    <span class="input-group-btn">
                                        <input type="button" id="btnSearch" value="Search" class="btn btn-w-m btn-primary" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="ClaimDetail">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        @Html.EditorFor(model => model.PageNum, new { htmlAttributes = new { @class = "hidden", id = "PageNum1" } })
                        @Html.EditorFor(model => model.PageSize, new { htmlAttributes = new { @class = "hidden", id = "PageSize1" } })
                        <table id="claimDataTable" class="table table-responsive table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID Number</th>
                                    <th>Member No.</th>
                                    <th>Full Name</th>
                                    <th>Claim Notes</th>
                                    <th>Cause of Death</th>
                                    <th>Contact No</th>
                                    <th>Last Modified</th>
                                    <th>Created Date</th>
                                    <th>Assigned To</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="LoadPartialView_ManageClaims"></div>*@
<div class="modal fade" id="dvSendEmail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Send Email</h4>
            </div>
            <div class="modal-body">
                <form id="frmSendMail" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Enter Email ID </label>
                                <input type="email" maxlength="150" id="txtEmailAddress" name="txtEmailAddress" class="form-control" />
                                <input type="hidden" id="txtClaimID_SentEmail" name="txtClaimID_SentEmail" />
                                <input type="hidden" id="txtMemeberID_SentEmail" name="txtMemeberID_SentEmail" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="button" onclick="SendClaimEmail()" value="Send Email" class="btn btn-sm btn-primary pull-right m-t-n-xs" id="btnSendEmail" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery(".DatepickerSelection").datepicker({
            format: 'dd M yyyy',
            setDate: new Date(),
            autoclose: true,
            onSelect: function (dateText) { $(this).change(); }
        }).on("change", function () { });



        var SearchDocumentDataurl = '@Url.Action("SearchDocumentData", "Claims", null, Request.Url.Scheme)'
        var hasRight = '@ViewBag.HasAccess';
        if (hasRight == 'false') {
            var url = '@Url.Action("Error403", "Error", new { })';
            window.location.href = url;
        }
        else {
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
            var jsdata = @Html.Raw(Json.Encode(Model));
            var statusId =@Html.Raw(Json.Encode(Model.StatusId));
            var companyId = @Html.Raw(Json.Encode(@Model.CompanyId));
            var dateFrom = @Html.Raw(Json.Encode(@Model.DateFrom));
            var dateTo = @Html.Raw(Json.Encode(@Model.DateTo));
            var sortOrder = @Html.Raw(Json.Encode(@Model.SortOrder));
            var sortBy =@Html.Raw(Json.Encode(@Model.SortBy));
            var totalRecord =@Html.Raw(Json.Encode(@Model.TotalRecord));
            var pageNum =@Html.Raw(Json.Encode(@Model.PageNum));
            var pageSize =@Html.Raw(Json.Encode(@Model.PageSize));
            var searchText =@Html.Raw(Json.Encode(@Model.SarchText));
            var searchType =@Html.Raw(Json.Encode(@Model.SearchType));
            var societyid =@Html.Raw(Json.Encode(@Model.SocietyID));

            var model1 = {
                StatusId: statusId,
                CompanyId: companyId,
                SortOrder: sortOrder,
                SortBy: sortBy,
                TotalRecord: totalRecord,
                PageNum: pageNum,
                PageSize: pageSize,
                SarchText: searchText,
                SearchType: searchType,
                SocietyID: societyid
            };
            var datatable = $('#claimDataTable')
                .on('page.dt', function () {
                    var table = $('#claimDataTable').DataTable();
                    var page = table.page.info();
                    model1.PageNum = page.page + 1;
                })
                .dataTable
                ({
                    'bProcessing': true,
                    'bServerSide': true,
                    "bVisible": true,
                    "bLengthChange": false,
                    'bFilter': false,
                    'scrollX': false,
                    "ordering": false,
                    "bSortable": false,
                    'ajax': {
                        "url": '@Url.Action("SearchData", "Claims", null, Request.Url.Scheme)',
                        "type": "POST",
                        "contentType": "application/json",
                        "data":
                            function (d) {
                                d['order'].forEach(function (item, index) {
                                    if (model1.SortBy != d['columns'][item.column]['data']) {
                                        model1.PageNum = 1;
                                        model1.SortOrder = "asc";
                                    }
                                    if (model1.SortBy == d['columns'][item.column]['data'] && model1.SortOrder != d['order'][index]['dir']) {
                                        model1.PageNum = 1;
                                        model1.SortOrder = d['order'][index]['dir'];
                                    }
                                    model1.SortBy = d['columns'][item.column]['data'];
                                    model1.SortOrder = d['order'][index]['dir'];
                                });
                                return JSON.stringify(model1);
                            },
                        "dataSrc": function (json) {
                            json.recordsTotal = json.TotalCount;
                            json.recordsFiltered = json.TotalCount;
                            json.data = json.Result;
                            var return_data = json;
                            return return_data.data;
                        }
                    },
                    "columns": [
                        { "data": "ClaimantIDNumber", "name": "ClaimantIDNumber" },
                        { "data": "MemberNumber", "name": "MemberNumber" },
                        {
                             "render": function (data, type, full, meta) {
                                 return full.ClaimantFullname + " " + full.ClaimantSurname;
                            }
                        },
                        { "data": "ClaimNotes", "name": "ClaimNotes" },
                        { "data": "CourseOfDearth", "name": "CourseOfDearth" },
                        { "data": "ClaimantContactNumber", "name": "ClaimantContactNumber" },
                        {
                            "data": "LastModified", "name": "Last Modified", "autoWidth": true,
                            "render": function (data) {

                                var date = new Date(parseInt(data.replace('/Date(', '')));
                                if (date.getFullYear() > 1900) {
                                    return dateFormat(date, dateFormat.masks.PerfectDate, true);
                                }
                                return null;
                            }
                        },
                         {
                            "data": "CreatedDate", "name": "Created Date", "autoWidth": true,
                            "render": function (data) {

                                var date = new Date(parseInt(data.replace('/Date(', '')));
                                if (date.getFullYear() > 1900) {
                                    return dateFormat(date, dateFormat.masks.PerfectDate, true);
                                }
                                return null;
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                var dom = "<div class='row'>";
                                var SendMailClaimUrl = '<div class="col-sm-12"><a accessKey="' + full.parlourid + '"  placeholder="Click to Change Assigned User" onclick="OpenClaimAssignedToPopUp(' + full.pkiClaimID + ',this)">' + full.AssignedToName + '</a></div>';
                                dom = dom + SendMailClaimUrl;
                                dom = dom + "</div>";
                                return dom;
                            }
                        },

                        {
                            "render": function (data, type, full, meta) {
                                var dom = "<div class='row'>";
                                var SendMailClaimUrl = '<div class="col-sm-12"><a accessKey="' + full.parlourid + '" onclick="OpenClaimStatusPopUp(' + full.pkiClaimID + ',this)">' + full.Status + '</a></div>';
                                dom = dom + SendMailClaimUrl;
                                dom = dom + "</div>";
                                return dom;
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                var hasEditRights = true;
                                var hasDeleteRights = true;
                                if (hasEditRights || hasDeleteRights) {
                                    var dom = "<div class='row'>";
                                    if (hasEditRights) {
                                        var editClaimUrl = '<div class="col-sm-3"><a href="@Url.Action("ClaimAddEdit", "Claims", null, Request.Url.Scheme)?pkiClaimID=' + full.pkiClaimID + '"><i class="fa fa-edit"></i></a></div>';
                                        dom = dom + editClaimUrl;
                                    }

                                    @*if (hasDeleteRights) {
                                        var deleteClaimUrl = '<div class="col-sm-3"> <a href="@Url.Action("Delete", "Claims", null, Request.Url.Scheme)?pkiClaimID=' + full.pkiClaimID + '" onclick="function(){model1.PageNum = 1;return confirm(\'Are you sure you want to delete?\')}"; ><i class="fa fa-trash-o"></i></a></div>';
                                        dom = dom + deleteClaimUrl;
                                    }*@
                                    //var SendMailClaimUrl = '<div class="col-sm-3"><a data-toggle="modal" data-target="#dvSendEmail"  onclick="OpenEmailPopup(' + full.pkiClaimID + ','+full.fkiMemberID+')"><i class="fa fa-envelope"></i></a></div>';
                                    //dom = dom + SendMailClaimUrl;

                                    var ShowStatusDetails = '<div class="col-sm-3"><a href="@Url.Action("ClaimStatusHistory", "Claims", null, Request.Url.Scheme)?pkiClaimID=' + full.pkiClaimID + '&MemberId='+full.fkiMemberID+'&parlourId='+full.parlourid+'"><i class="fa fa-server"></i></a></div>';
                                    dom = dom + ShowStatusDetails;
                                    dom = dom + "</div>";
                                    return dom;
                                }
                                else {
                                    table.DataTable().columns([8]).visible(false)
                                    return "";
                                }
                            }
                        }
                    ]
                });

            var hasEditRights = '@(ViewBag.HasEditRight)';
            var hasDeleteRights = '@(ViewBag.HasDeleteRight)';
            hasEditRights = 'True';
            hasDeleteRights = 'True';

            var table = $('#claimDataTable');
            if (hasEditRights == 'True' || hasDeleteRights == 'True') {
                table.DataTable().columns([8]).visible(true)
            }
            else {
                table.DataTable().columns([8]).visible(false)
            }

            $('#PageSize').change(function () {
                InitModel();
                $('#claimDataTable').DataTable().page.len(model1.PageSize).draw();
            });
            $("#btnSearch").click(function () {
                InitModel();
                datatable.fnDraw();
            });

            function InitModel() {
                model1.PageNum = 1;
                model1.CompanyId = $('#CompanyId').val();
                model1.SocietyID = $('#ddlClaimSociety').val();
                model1.PageSize = $('#PageSize').val();
                model1.SarchText = $("#SarchText").val();
                model1.StatusId = ($('#StatusId').val() == '' ? '0' : $('#StatusId').val());
                $("#PageNum1").val(model1.PageNum);
            }
            $('#CompanyId').change(function () {
                jQuery.ajax({
                    url: '@Url.Action("ChangeParlour", "Parlour", null, Request.Url.Scheme)',
                    data: { parlourId: $('#CompanyId').val() },
                    type: "post",
                    cache: false,
                    success: function (result) {

                    }
                });
                BindGroupDropdown($('#CompanyId').val());
            })
        }
    });
    function OpenEmailPopup(ClaimId, MemberID) {
        $("#txtClaimID_SentEmail").val(ClaimId)
        $("#txtMemeberID_SentEmail").val(MemberID)
    }
    function SendClaimEmail() {
        var GetClaimId = $("#txtClaimID_SentEmail").val();
        var GetMemberID = $("#txtMemeberID_SentEmail").val();
        var GetEmail = $("#txtEmailAddress").val();
        if (GetEmail != null && GetEmail!="")
        {
            var GenerateSendMailURL = "@Url.Action("SendClaimMail","Claims",new {ClaimId="GetClaimId",MemberID="getMemberID",Email="getEmail" })";
            GenerateSendMailURL = GenerateSendMailURL.replace("GetClaimId", GetClaimId).replace("getMemberID", GetMemberID).replace("getEmail", GetEmail).replace("amp;","").replace("amp;","");
            $.ajax({
                type: "POST",
                url: GenerateSendMailURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg == true) {alert("Email has been sent");}
                    else {alert("Email has not been sent");}
                }
            });
        }
    }
    function OpenClaimStatusPopUp(GetClaimId, control) {
        var GenerateSendMailURL = "@Url.Action("ClaimStatusPartial","Claims",new {ClaimId="GetClaimId",ParlourId="GetParlourId"})".replace("GetClaimId", GetClaimId).replace("GetParlourId", control.accessKey).replace("amp;", "");
        $.ajax({
            url: GenerateSendMailURL,
            type: 'GET',
            cache: false,
        }).done(function (result) {
            $('#LoadPartialView_ManageClaims').empty().html(result);
            $("#dvChangeStatusModel").modal("show");
            $('.modal-backdrop').removeClass("modal-backdrop");
        });
    }
    function OpenClaimAssignedToPopUp(GetClaimId,control) {
        var GenerateSendMailURL = "@Url.Action("ClaimAssignedToPartial","Claims",new {ClaimId="GetClaimId",ParlourId="GetParlourId"})".replace("GetClaimId", GetClaimId).replace("GetParlourId", control.accessKey).replace("amp;", "");
        $.ajax({
            url: GenerateSendMailURL,
            type: 'GET',
            cache: false,
        }).done(function (result) {
            $('#LoadPartialView_ManageClaims').empty().html(result);
            $("#dvChangeStatusModel").modal("show");
            $('.modal-backdrop').removeClass("modal-backdrop");
        });
    }
	function DownloadDocument(ClaimPictureID) {
		var downloadDocument = $("#DownloadCliamDocument").val();
		var id = ClaimPictureID;
		$.ajax({
			url: downloadDocument,
			data: { pkiClaimPictureID: id },
			type: "post",
			cache: false,
			success: function (result) {
				alert("Document Downloaded");
				if (result.success == false) {
					alert(result.errors);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError);
			}
		})
    }
     function BindGroupDropdown(ParlourId) {
        var ddlCustomers = $("#ddlClaimSociety");
        ddlCustomers.empty().append('<option selected="selected" value="">Select Group.....</option>');
        jQuery.ajax({
            url: '@Url.Action("BindGroupByCompanyId","Claims")',
            data: { CompanyId: ParlourId },
            type: "post",
            success: function (response) {
                ddlCustomers.empty().append('<option selected="selected" value="0">Please select</option>');
                jQuery.each(response, function () {
                    ddlCustomers.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>