@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/app/searchdatatable.js"></script>
<script src="~/Scripts/plugins/dateformat/DateFormat.js"></script>

<div class="row" id="TombstoneAddedit"></div>
<div class="row" id="TombstoneList"></div>
<style>
    .modal-backdrop {
        position: fixed;
        top: auto !important;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }

    .modal {
        position: fixed;
        top: 60% !important;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
</style>
<script>
    var TombstoneID = '@ViewBag.pkiTombstoneID';
    var hasRight = '@ViewBag.HasAccess';
    jQuery(function ($) {
        $(document).ready(function () {
            
                $.noConflict();
                LoadTombstoneList();
                LoadTombstoneAddEdit();
                DOMIDs.AddEdit = "TombstoneAddedit";
                DOMIDs.List = "TombstoneList";
        });
    });

    function LoadTombstoneList() {
        jQuery.ajax({
            url: '@Url.Action("List", "Tombstone", new {},Request.Url.Scheme)',
            type: "Get",
            contentType: "application/html; charset=utf-8",
            dataType: 'html'
        })
        .success(function (result) {
            jQuery("#" + DOMIDs.List).html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        });
    }

    function LoadTombstoneAddEdit() {

        var model = {
            pkiTombstoneID: 0,
            IDNumber: '',
            Title: '',
            LastName: '',
            FirstName: '',
            Address1: '',
            Address2: '',
            Address3: '',
            Address4: '',
            Code: '',
            TelNumber: '',
            CellNumber: '',
            DeceasedLastName: '',
            DeceasedFirstName: '',
            DeceasedIDNumber: '',
            Deceased: '',
            CemeterOrCrematorium: '',
            GraveNo: '',
            Erect: '',
            TombStoneMessage: '',
            Notes: '',
            parlourid: '',
            ModifiedUser: '',
            ImageName: '',
            ImagePath: '',
            InvoiceNumber: '',
            InvoiceNumber2: '',
            DisCount: '',
            Tax: '',
            ContactPerson: '',
            ContactPersonNumber: '',
        };

        jQuery.ajax({
            url: '@Url.Action("Add", "Tombstone", new {},Request.Url.Scheme)',
            type: "Post",
            data: JSON.stringify(model),
            contentType: "application/html; charset=utf-8",
            dataType: 'html'
        })
        .success(function (result) {
            jQuery("#" + DOMIDs.AddEdit).html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        });
    }

    function PaymentHistory(pkiTombstoneID) {
        jQuery("#ucPaymentHistory").modal({
            show: 'true'
        });
        $('#ucPaymentHistory').parent().position({ my: 'center', of: 'center', collison: 'fit' });
        data = {
            pkiTombstoneID: pkiTombstoneID
        }
        $.ajax({
            url: '@Url.Action("PaymentHistory", "Tombstone")',
            data: data,
            type: "Get",
        })
        .success(function (result) {
            if (result.TombStonePaymentList != null) {
                var test = "";
                for (var i = 0; i < result.TombStonePaymentList.length; i++) {
                    test += "<tr>";
                    var data = result.TombStonePaymentList[i].DatePaid;

                    var date = new Date(parseInt(data.replace('/Date(', '')));
                    date = dateFormat(date, dateFormat.masks.isoDate, true);
                    test += "<td class='visible-lg'>" + date.toString("dd-mm-yyyy") + "</td>";
                    test += "<td align='right'>" + result.TombStonePaymentList[i].AmountPaid + "</td>";
                    test += "<td class='visible-lg'>" + result.TombStonePaymentList[i].RecievedBy + "</td>";
                    test += "<td class='visible-lg'>" + result.TombStonePaymentList[i].Notes + "</td>";
                    test += "<td class='visible-lg'>&nbsp;<a id='ucPaymenthistory' title='Click here Print' target='_blank' href='" + '@Url.Action("PrintForm", "Tombstone")' + "'><i class='glyphicon glyphicon-print'></i></a></td>";
                    test += "</tr>";
                    $("#tbodyPaymentHistory").html(test);
                }

            } else {

            }
        })
        .error(function (xhr, status) {
            alert(status);
        })
    }



</script>