@model Funeral.Model.Search.PaymentSearchNew

@Styles.Render("~/Content/datatablecss")
<script src="~/Scripts/plugins/dateformat/DateFormat.js"></script>  <!-- https://gist.github.com/eralston/968809 -->
@using (Html.BeginForm())
{
    @Html.Hidden("UpdatePolicyStatus", Url.Action("UpdatePolicyStatus"))
    <div class="dataTables_wrapper" id="tblMemberPaymentSearch_wrapper">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Members Payments</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12" id="dvAdministrator">
                            <div class="col-lg-2">
                                <label>Show Entries:</label>
                                @Html.DropDownListFor(m => m.PageSize, new SelectList(ViewBag.EntriesCount, "Value", "Key"), new { @class = "form-control" })
                            </div>

                            @if (ViewBag.CompanyDropDisplay)
                            {
                                <div class="col-sm-3">
                                    <label>Scheme:</label>
                                    @*@Html.DropDownListFor(m => m.StatusId, new SelectList(ViewBag.Companies, "ParlourId", "ApplicationName"), new { @id = "CompanyDropdownSelection", @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.StatusId, new SelectList(ViewBag.Companies, "ParlourId", "ApplicationName"), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Group Name: </label>
                                        @Html.DropDownListFor(m => m.BookName, new SelectList(ViewBag.SocietyLists, "SocietyName", "SocietyName"), "Select Group", new { @id = "ddlBookNamelist", @class = "form-control" })
                                    </div>
                                </div>
                            }

                            <div class="col-sm-4 pull-right">
                                <label>Search Payment:</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.SarchText, null, new { @class = "form-control", @maxlength = "50", placeholder = "Search by keyword" })
                                    <span class="input-group-btn">
                                        <input type="button" id="btnSearch" value="Search" class="btn btn-w-m btn-primary" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-9">
                            <asp:Label ID="lblRecords" runat="server" Text=""></asp:Label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="table-responsive">
                                @Html.EditorFor(model => model.PageNum, new { htmlAttributes = new { @class = "hidden", id = "PageNum1" } })
                                @Html.EditorFor(model => model.PageSize, new { htmlAttributes = new { @class = "hidden", id = "PageSize1" } })
                                @Html.Hidden("ItemId")
                                <table id="PaymentDataTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="hide">Number</th>
                                            <th>Scheme</th>
                                            <th>Group Name</th>
                                            <th>Policy Number</th>
                                            <th>ID Number</th>
                                            <th>Full Name</th>
                                            @*<th>EasyPayNo</th>*@
                                            <th>Cover Date</th>
                                            <th>Policy Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*if (ViewBag.AdministratorOrSuperUser == true)
        {
            <div class="modal fade" id="PolicyUpdateStatus" role="dialog" tabindex="-1" area-hidden="true" style="margin-top: 0px; overflow: auto; height: 400px;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span data-dismiss="modal" class="closePopUp">x</span>
                            <h4 id="PopForPolicyStatus" class="modal-title">Policy Status</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Status</label>
                                        @Html.DropDownList("StatusList", new SelectList(ViewBag.StatusList, "Text", "Value"), new { @class = "form-control", @id = "ddlPolicyStatus", @name = "ddlPolicyStatus" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Reason</label>
                                        <textarea maxlength="25" id="txtReason" name="reason" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <button id="BtnUpdatePolicyPopup" class="btn btn-sm btn-primary pull-right m-t-n-xs">Update</button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }*@

    <script type="text/javascript">
        var pkMemberId = null;
        function UpdateStatus(data1) {
            var drpValue = data1.PolicyStatus;
            pkMemberId = data1.pkiMemberID
            jQuery('select#ddlPolicyStatus option').each(function () {
                if (jQuery(this).text() == drpValue) {
                    jQuery(this).prop('selected', 'selected');
                    return;
                }
            });
            var options = {
                'backdrop': false,
                'show': true
            }
            jQuery("#PolicyUpdateStatus").modal(options);
            //jQuery("#ddlPolicyStatus option[value='drpValue']").attr("selected", "selected");
        }
        $("#BtnUpdatePolicyPopup").click(function () {
            var UpdatePolicyStatusURL = jQuery("#UpdatePolicyStatus").val();
            var data = jQuery("#ddlPolicyStatus :selected").text();
            var id = pkMemberId;
            jQuery.ajax({
                url: UpdatePolicyStatusURL,
                data: { policyStatus: data, memberId: id },
                type: "post",
                cache: false,
                success: function (result) {
                    $('#tblMemberPaymentSearch_wrapper').html(result);
                }
            })
            //location.reload();
        });
       //jQuery.noConflict();
        $(document).ready(function () {
            ConfigureDatatable();
            InitDataTable();
            //eventConfigs.pageChange.eventName = 'btnPageChanged';
            //eventConfigs.pageChange.domElement = jQuery('#PageSize')[0];
            //eventConfigs.searchClick.eventName = 'btnSearchClicked';
            //eventConfigs.searchClick.domElement = jQuery('#btnSearch')[0];
            $('#PageSize').change(function () {
                InitModel();
                tableConfigs.table.DataTable().page.len(model1.PageSize).draw();
                //eventConfigs.pageChange.dispatchEvent();
            });
            $("#btnSearch").click(function () {
                InitModel();
                tableConfigs.table.fnDraw();
                //eventConfigs.searchClick.dispatchEvent();
            });
        });
        function ConfigureDatatable() {
            var companyId = @Html.Raw(Json.Encode(@Model.StatusId));
            var sortOrder = @Html.Raw(Json.Encode(@Model.SortOrder));
            var sortBy =@Html.Raw(Json.Encode(@Model.SortBy));
            var totalRecord =@Html.Raw(Json.Encode(@Model.TotalRecord));
            var pageNum =@Html.Raw(Json.Encode(@Model.PageNum));
            var pageSize =@Html.Raw(Json.Encode(@Model.PageSize));
            var searchText =@Html.Raw(Json.Encode(@Model.SarchText));
            var bookName =@Html.Raw(Json.Encode(@Model.BookName));
            DOMIDs.Datatable = "PaymentDataTable";
            tableConfigs.SearchUrls = '@Url.Action("SearchData", "Payments", null, Request.Url.Scheme)';
            setsearchmodel(companyId, sortOrder, sortBy, totalRecord, pageNum, pageSize, searchText,bookName);
            columnsArray =
                [{ "data": "pkiMemberID", "name": "pkiMemberID", "autoWidth": true, "visible": false },
                { "data": "ApplicationName", "name": "Scheme", "autoWidth": true },
                { "data": "MemberSociety", "name": "Book Name", "autoWidth": true },
                { "data": "MemeberNumber", "name": "Policy Number", "autoWidth": true },
                { "data": "IDNumber", "name": "ID No", "autoWidth": true },
                { "data": "FullNames", "name": "Member", "autoWidth": true },
                //{ "data": "EasyPayNo", "name": "EasyPayNumber", "autoWidth": true },
                {
                    "data": "CoverDate", "name": "Cover date", "autoWidth": true,
                    "render": function (data) {
                        if (data != null) {
                            var date = new Date(parseInt(data.replace('/Date(', '')));
                            return dateFormat(date, dateFormat.masks.isoDate, true);
                        } else {
                            return "<div></div>"
                        }
                    }
                },
                {
                    "data": "PolicyStatus", "name": "PolicyStatus", "autoWidth": true,
                    "render": function (data, type, full, meta) {
                                    jQuery('.btn[href^=#]').click(function () {
                                        var href = jQuery(this).attr('href');
                                        jQuery(href).modal('toggle');
                                    })
                                    var data1 = JSON.stringify(full);
                                    data1 = data1.replace(/"/g, "\'")
                                    if ('@ViewBag.AdministratorOrSuperUser' == "True")
                                        return '<a onclick = "UpdateStatus(' + data1 + ')">' + data + '</a>';
                                    else
                                        return data;
                                }
                },
                {
                    "render": function (data, type, full, meta) {
                        var hasEditRights = '@ViewBag.HasEditRight' == "True" ? true : false;
                        var hasDeleteRights = '@ViewBag.HasDeleteRight' == "True" ? true : false;
                        if (hasEditRights || hasDeleteRights) {
                            tableConfigs.table.DataTable().columns([8]).visible(true)
                            var dom = "<div class='row'>";
                            if (hasEditRights) {
                                //var ParlourId = full.parlourid;
                                var editMemberUrl = '<div class="col-sm-4 text-center"><a class="btn btn-w-m btn-primary" href="@Html.Raw(Url.Action("ManageMembersPayment", "Payments", new { id = "MemeberNumberVal", ParlourID = "ParlourId" }))"">Make payment</a></div>';//onclick="EditOtherPayment(\'' +full.IDNumber+','+full.pkiMemberID+ '\')
                                editMemberUrl = editMemberUrl.replace("MemeberNumberVal", full.pkiMemberID);
                                editMemberUrl = editMemberUrl.replace("ParlourId", full.parlourid);
                                dom = dom + editMemberUrl;
                            }
                            dom = dom + "</div>";
                            return dom;
                        }
                        else {
                            tableConfigs.table.DataTable().columns([8]).visible(false);
                            return "";
                        }
                    }
                    }];
        }
        function InitModel() {
            model1.PageNum = 1;
            model1.PageSize = jQuery('#PageSize').val();
            model1.SarchText = jQuery("#SarchText").val();
            model1.StatusId = jQuery("#CompanyDropdownSelection").val();
            model1.BookName = jQuery("#ddlBookNamelist").val();
            $("#PageNum1").val(model1.PageNum);
        }
    </script>
}