@model Funeral.Model.MembersPaymentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/app/searchdatatable.js"></script>
<div class="row" id="MembersPaymentAddEdit"></div>
<div class="row" id="MembersPaymentList"></div>

<script>
    var PkiMemberIDId = '@ViewBag.MemberID';
     var hasRight = '@ViewBag.HasAccess';
    jQuery(function ($) {
        jQuery(document).ready(function () {
            @*if (hasRight == 'false') {
                var url = '@Url.Action("Error403", "Error", new { })';
                window.location.href = url;
            }
            else {*@
            $.noConflict();
            LoadMembersPaymentList();
            //LoadMembersPaymentAddEdit();
            DOMIDs.AddEdit = "MembersPaymentAddEdit";
                DOMIDs.List = "MembersPaymentList";
            //}
        });
    })
    function LoadMembersPaymentList() {
        jQuery.ajax({
            url: '@Url.Action("List", "Payments", new {},Request.Url.Scheme)',
            type: "Get",
            contentType: "application/html; charset=utf-8",
            dataType: 'html'
        })
        .success(function (result) {
            jQuery("#" + DOMIDs.List).html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        });
    }
    function LoadMembersPaymentAddEdit() {
            var model = {
                MemeberNumber: 0,
                FullNames: '',
                ReceivedBy: '',
                Amount: '',
                MethodOfPayment: '',
                PaymentDate: '',
                MethodOfPayment: '',
                Notes: '',
        };
        jQuery.ajax({
                url: '@Url.Action("Add", "Payments", new {},Request.Url.Scheme)',
                type: "Post",
                data: JSON.stringify(model),
                contentType: "application/html; charset=utf-8",
                dataType: 'html'
            })
            .success(function (result) {
                jQuery("#" + DOMIDs.AddEdit).html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            });
    }
</script>
