@model Funeral.Model.FuneralModel

@{
    ViewBag.Title = "Funeral Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/plugins/datapicker/bootstrap-timepicker.min.js"></script>
<script src="~/Scripts/plugins/dateformat/DateFormat.js"></script>
<link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" crossorigin="anonymous"></script>
<body>
    <div class="col-lg-12" id="dvPrint">
        <div class="ibox">
            <div class="ibox-title" style="display:flex;justify-content:space-between">
                <h5>Funeral Quotation</h5>
                <div id="divBtn">
                    <button class="btn btn-danger btn-sm" style="cursor:pointer;" onclick="printPage()">Print</button>
                    <button class="btn btn-primary btn-sm" style="cursor:pointer;" onclick="editFuneral('@Model.pkiFuneralID')">Edit</button>
            </div>
            </div>
            <div class="ibox-content">
                <div class="panel panel-default">
                    <div class="panel-heading">Body Collection</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Status :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.Status) ? "" : Model.Status, new { @class = "label label-primary", @style = "font-size:11px;" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Claimant Name :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.ClaimantName) ? "" : Model.ClaimantName, new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Claimant Surname :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.ClaimantSurname) ? "" : Model.ClaimantSurname, new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Body Collection Driver :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.BodyAndCar) ? "" : Model.BodyAndCar, new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Driver ID Number :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.DriverIdNumber) ? "" : Model.DriverIdNumber, new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Car Registration :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.CarReg) ? "" : Model.CarReg, new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Car Make :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.CarMake) ? "" : Model.CarMake, new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Type of collection :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.TypeOfCollection) ? "" : Model.TypeOfCollection, new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Contact Person :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.ContactPerson) ? "" : Model.ContactPerson, new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Contact Number :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.ContactPersonNumber) ? "" : Model.ContactPersonNumber, new { @class = "control-label" })
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Deceased Info</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Full Name :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.FullNames) ? "" : Model.FullNames, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Surname :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.Surname) ? "" : Model.Surname, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Policy Number :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.PolicyNumber) ? "" : Model.PolicyNumber, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("ID Number :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.IDNumber) ? "" : Model.IDNumber, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Date Of Birth :", new { @class = "control-label" })
                                @Html.Label(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("dd MMM yyyy") : "", new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Gender :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.Gender) ? "" : Model.Gender, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Cause Of Death :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.CourseOfDearth) ? "" : Model.CourseOfDearth, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Date Of Death :", new { @class = "control-label" })
                                @Html.Label(Model.DateOfDeath.HasValue ? Model.DateOfDeath.Value.ToString("dd MMM yyyy") : "", new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("BI663 :", new { @class = "control-label" }) 
                                    @Html.Label(string.IsNullOrEmpty(Model.BI1663) ? "" : Model.BI1663, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Street Address :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.Address1) ? "" : Model.Address1, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Village :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.Village) ? "" : Model.Village, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Town or City :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.Address2) ? "" : Model.Address2, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Code :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.Code) ? "" : Model.Code, new { @class = "control-label" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Mortuary</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Deceased Arrival Date and Time :", new { @class = "control-label" })
                                @Html.Label(Model.DeceasedArrivalDateTime.HasValue ? Model.DeceasedArrivalDateTime.Value.ToString("dd MMM yyyy hh:mm") : "", new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Fridge Number :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.FridgeNumber) ? "" : Model.FridgeNumber, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Shelf Number :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.ShelfNumber) ? "" : Model.ShelfNumber, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Tag Number :", new { @class = "control-label" })
                                @Html.Label(string.IsNullOrEmpty(Model.TagNumber) ? "" : Model.TagNumber, new { @class = "control-label" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Physical Description</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Notes</label>
                                @Html.TextAreaFor(m => m.Notes, new { name = "OfficialStatus", rows = "10", cols = "50", id = "OfficialStatus", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                            @Html.Label("Dental Condition :", new { @class = "control-label" })
                                        @Html.Label(string.IsNullOrEmpty(Model.DentalCondition) ? "" : Model.DentalCondition, new { @class = "control-label" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                            @Html.Label("General Condition :", new { @class = "control-label" })
                                            @Html.Label(string.IsNullOrEmpty(Model.GeneralCondition) ? "" : Model.GeneralCondition, new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                            @Html.Label("Age Group :", new { @class = "control-label" })
                                            @Html.Label(string.IsNullOrEmpty(Model.AgeGroup) ? "" : Model.AgeGroup, new { @class = "control-label" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                            @Html.Label("Head Hair :", new { @class = "control-label" })
                                            @Html.Label(string.IsNullOrEmpty(Model.HeadHair) ? "" : Model.HeadHair, new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    @Html.Label("Skin Marks :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.SkinMarks) ? "" : Model.SkinMarks, new { @class = "control-label" })
                            </div>
                            <div class="form-group">
                                    @Html.Label("Personal Items :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.PersonalItem) ? "" : Model.PersonalItem, new { @class = "control-label" })
                            </div>
                            <div class="form-group">
                                    @Html.Label("Embalming :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.Embalming) ? "" : Model.Embalming, new { @class = "control-label" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Funeral Arrangements</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Coffin Size :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.CoffineSize) ? "" : Model.CoffineSize, new { @class = "control-label" })
                            </div>

                            <div class="form-group">
                                    @Html.Label("Type Of Coffin :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.TypeOfCoffin) ? "" : Model.TypeOfCoffin, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Other Services :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.OtherServices) ? "" : Model.OtherServices, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Date and Time of Funeral :", new { @class = "control-label" })
                                @Html.Label(Model.DateOfFuneral.ToString("dd MMM yyyy hh:mm"), new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Burial Order Number :", new { @class = "control-label" })
                                    @Html.Label(!string.IsNullOrEmpty(Model.BurialOrderNo) ? Model.BurialOrderNo : "", new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    @Html.Label("Grave Number :", new { @class = "control-label" })
                                    @Html.Label(string.IsNullOrEmpty(Model.GraveNo) ? "" : Model.GraveNo, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Funeral Documents
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Document Type</th>
                                                    <th scope="col">Document Name</th>
                                                    <th scope="col">Created Date</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model.FuneralDocuments != null)
                                                    {
                                                        foreach (var item in Model.FuneralDocuments)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @if (item.DocType == 1)
                                                                    {
                                                                        <span>BI663 Document</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>Death Certificate</span>
                                                                    }
                                                                </td>
                                                                <td>@item.ImageName</td>
                                                                <td>
                                                                    @if (item.fkiFuneralID > 0)
                                                                    {
                                                                        @item.CreateDate.ToString("dd MMM yyyy hh:mm tt")
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>-----</span>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @{
                                                                        if (item.fkiFuneralID > 0)
                                                                        {
                                                                            <a title="Download this funeral document" href="~/Handler/DocumentHandler.ashx?DocClaimID=@item.pkiFuneralPictureID"><i class="glyphicon glyphicon-download"></i></a>
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="4">No Data</td>
                                                        </tr>

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script>
    function editFuneral(pkiFuneralID) {
        var editUrl = '@Url.Action("FuneralServices", "Funeral", new { funeralId = "pkiFuneralIDVal"},Request.Url.Scheme)';

        editUrl = editUrl.replace("pkiFuneralIDVal", pkiFuneralID);

        window.location.href = editUrl;
    }
    async function printPage() {
        $('#AjaxLoader').show();
        $("#divBtn").hide();
        var opt = {
            margin: 1,
            html2canvas: { scale: 12 },
            jsPDF: { unit: 'in', format: 'A4', orientation: 'landscape' }
        };
        await html2pdf().set(opt).from($("#dvPrint").html()).save("test.pdf");

        $("#divBtn").show();
        $('#AjaxLoader').hide();

    }
</script>