@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> ddlFuneralStatuses = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "BodyCollection", Value = "BodyCollection" },
        new SelectListItem() { Text = "Mortuary", Value = "Mortuary" },
        new SelectListItem() { Text = "FuneralArrangement", Value = "FuneralArrangement" },
        new SelectListItem() { Text = "Payment", Value = "Payment" },
        new SelectListItem() { Text = "funeralschedule", Value = "funeralschedule" },
    };
}
@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/app/searchdatatable.js"></script>
<script src="~/Scripts/plugins/dateformat/DateFormat.js"></script>

@*<div class="row" id="Funeraladdedit"></div>*@
<div class="modal inmodal" id="dvAssignedToModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#dvAssignedToModal').css('display', 'none');"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Change Funeral Assigned</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" id="divAssignToUser">
                        @using (Html.BeginForm("FuneralAssignedToUser", "Funeral", FormMethod.Get))
                        {
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Select User * </label>
                                    @Html.Hidden("PkiFuneralID")
                                    @Html.Hidden("funeralStatus")
                                    @Html.DropDownList("AssignedTo", new SelectList(ViewBag.AllUserList, "PkiUserID", "EmployeeFullname"), "Select User", new { @class = "form-control", @required = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <br />
                                    <input type="submit" value="Submit" class="btn btn-sm btn-primary pull-right" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="dvFuneralStatusModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#dvFuneralStatusModal').css('display', 'none');"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Change Funeral Status</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("FuneralAssignedToUser", "Funeral", FormMethod.Get))
                        {
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Select Status * </label>
                                    @Html.Hidden("hdnPkiFuneralID")
                                    @Html.Hidden("hdnfuneralStatus")
                                    @Html.DropDownList("ddlFuneralStatus", ddlFuneralStatuses, "Select type of collection", new { @style = "width:100%", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <br />
                                    <input type="submit" value="Submit" class="btn btn-sm btn-primary pull-right" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="Funerallist"></div>
<style>
    .modal-backdrop {
        position: fixed;
        top: auto !important;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }

    .modal {
        position: fixed;
        top: 48% !important;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
</style>
<script>
    var FuneralId = '@ViewBag.FuneralIdS';
    var hasRight = '@ViewBag.HasAccess';
    jQuery(function ($) {
        $(document).ready(function () {
            @*if (hasRight == 'False') {
                var url = '@Url.Action("Error403", "Error", new { })';
                window.location.href = url;
            }
            else {*@
                $.noConflict();
                LoadFuneralList();
                LoadFuneralAddEdit();
                DOMIDs.AddEdit = "Funeraladdedit";
                DOMIDs.List = "Funerallist";
            //}
        });
    });

    function LoadFuneralList() {
        jQuery.ajax({
            url: '@Url.Action("List", "Funeral", new { StatusId = ViewBag.StatusId},Request.Url.Scheme)',
            type: "Get",
            contentType: "application/html; charset=utf-8",
            dataType: 'html'
        })
           .success(function (result) {
            jQuery("#" + DOMIDs.List).html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        });
    }

    function LoadFuneralAddEdit() {

        var model = {
            pkiFuneralID: 0,
            Title: '',
            FullNames: '',
            Surname: '',
            Gender: '',
            IDNumber: '',
            DateOfBirth: '',
            DateOfDeath: '',
            DateOfFuneral: '',
            TimeOfFuneral: '',
            FuneralCemetery: '',
            Address1: '',
            Address2: '',
            Address3: '',
            Address4: '',
            Code: '',
            MemeberNumber: '',
            ContactPerson: '',
            ContactPersonNumber: '',
            BodyCollectedFrom: '',
            CourseOfDearth: '',
            Claimnumber: '',
            BI1663: '',
            DriverAndCars: '',
            GraveNo: '',
        };

        jQuery.ajax({
            url: '@Url.Action("Add", "Funeral", new {},Request.Url.Scheme)',
            type: "Post",
            data: JSON.stringify(model),
            contentType: "application/html; charset=utf-8",
            dataType: 'html'
        })
        .success(function (result) {
            jQuery("#" + DOMIDs.AddEdit).html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        });
    }


    function ClearAllFields() {
        $("#ContactTitle").val('')
        $("#ContactLastName").val('');
        $("#ContactFirstName").val('');
        $("#CellNumber").val('');
        $("#TelNumber").val('');
        $("#AddressLine1").val('');
        $("#AddressLine2").val('');
        $("#AddressLine3").val('');
        $("#AddressLine4").val('');
        $("#Code").val('');
    }

    //#region ConvertDate
    function ConvertDate(date) {
        if (date != undefined && date != '' && date != null) {
            return dateFormat(new Date(parseInt(date.replace('/Date(', ''))), "yyyy/mm/dd", false)
            //return dateFormat(new Date(parseInt(date.replace('/Date(', ''))), "mm/dd/yyyy", true)
        }
        else {
            return dateFormat(new Date(0001, 00, 01), "yyyy/mm/dd", false);
        }
    }
    //#endregion

    function PaymentHistory(funeralID) {

        jQuery("#ucPaymentHistory").modal({
            show: 'true'
        });

        data = {
            FuneralId: funeralID
        }
        $.ajax({
            url: '@Url.Action("PaymentHistory","Funeral")',
            data: data,
            type: "Get",
        })
        .success(function (result) {
            if (result.FunerlaPaymentList != null) {
                var test = "";
                for (var i = 0; i < result.FunerlaPaymentList.length; i++) {
                    test += "<tr>";
                    var data = result.FunerlaPaymentList[i].DatePaid;

                    var date = new Date(parseInt(data.replace('/Date(', '')));
                    date = dateFormat(date, dateFormat.masks.isoDate, true);
                    test += "<td class='visible-lg'>" + date.toString("dd-mm-yyyy") + "</td>";
                    test += "<td align='right'>" + result.FunerlaPaymentList[i].AmountPaid + "</td>";
                    test += "<td class='visible-lg'>" + result.FunerlaPaymentList[i].RecievedBy + "</td>";
                    test += "<td class='visible-lg'>" + result.FunerlaPaymentList[i].Notes + "</td>";
                    test += "<td class='visible-lg'>&nbsp;<a id='ucPaymenthistory' title='Click here Print' target='_blank' href='" + '@Url.Action("PrintForm","Funeral")' + "'><i class='glyphicon glyphicon-print'></i></a></td>";
                    test += "</tr>";
                    $("#tbodyPaymentHistory").html(test);


                }

            } else {

            }
        })
                    .error(function (xhr, status) {
                        alert(status);
                    })
    }

</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="ErrorModel"></div>
</body>
</html>
