@model Funeral.Model.MembersPaymentDetailsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nextPaymentDate = ViewBag.PaymentDate;
    var date = ViewBag.Date;
    var totalPremium = ViewBag.totalPremium;
    var policyStatus = ViewBag.PolicyStatus;
    var policyBalance = ViewBag.policyBalance;
    var LatePanelty = ViewBag.LatePanelty;
    var MemberId = ViewBag.MemberID;
    var ParlourID = ViewBag.ParlourID;
    var IsjoiningFee = ViewBag.IsJoiningFee;
    var JoingingFee = ViewBag.JoingingFee;

}

<style>
    .ibox-title h5 {
        display: inline-block;
        font-size: 14px;
        margin: 0 0 27px !important;
        padding: 0;
        text-overflow: ellipsis;
        float: none !important;
    }
</style>
@Html.Hidden("CalculateAmount", Url.Action("CalculateAmount"))
@Html.Hidden("AddPayments", Url.Action("AddPayments"))
@Html.Hidden("JoiningFee", Url.Action("JoiningFee"))

@*<link rel="stylesheet" href="~/Scripts/docs/css/bootstrap-4.5.2.min.css" type="text/css">

    <script type="text/javascript" src="~/Scripts/docs/js/jquery-2.1.3.min.js"></script>


    <script type="text/javascript" src="~/Scripts/docs/js/bootstrap.bundle-4.5.2.min.js"></script>*@




<!-- Include Twitter Bootstrap and jQuery: -->
@*<link rel="stylesheet" href="~/Scripts/docs/css/bootstrap-4.5.2.min.css" type="text/css">*@

@*<script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>



    <script type="text/javascript" src="~/Scripts/docs/js/bootstrap.bundle-4.5.2.min.js"></script>*@


<!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="~/Scripts/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="~/Scripts/dist/css/bootstrap-multiselect.css" type="text/css" />

<div class="row">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-sm-12">
                @*@Html.Hidden("AddPayments", Url.Action("AddPayments"))*@
                <span id="lblMessage"></span>
            </div>
        </div>
        <div class="ibox ">
            <div class="row">
                @Html.HiddenFor(m => m.NextPaymentDate)
                @Html.HiddenFor(m => m.pkiMemberID)
                @Html.HiddenFor(m => m.ParlourId)
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Payment Details </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label>Member Number  <em>*</em> </label>
                                @Html.EditorFor(Model => Model.MemeberNumber, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtMemberNo", @name = "name" } })
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Member Name   </label>
                                        @Html.EditorFor(Model => Model.FullNames, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtMember", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Received By  </label>
                                        @*@Html.EditorFor(Model =>Model.ReceivedBy, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtReceivedBy", @name = "name", @readonly = "readonly" } })*@
                                        <input type="text" readonly value="@HttpContext.Current.User.Identity.Name" class="form-control" maxlength="255" id="txtReceivedBy" name="name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        @Html.EditorFor(Model => Model.Amount, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtAmount", @name = "name" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Method<em>*</em></label>
                                        <select id="ddlMethod" class="form-control m-b">
                                            <option value="0">Select</option>
                                            <option value="1">Cash</option>
                                            <option value="2">Easy Pay</option>
                                            <option value="3">Debit Order</option>
                                            <option value="4">Bank Deposit</option>
                                            <option value="5">EFT</option>
                                            <option value="6">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        @*@Html.EditorFor(Model => Model.PaymentDate, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtNextPaymentDate", @name = "name", @readonly = "readonly" } })*@
                                        <input type="text" class="form-control" maxlength="255" id="txtNextPaymentDate" readonly="readonly" value="@date">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>No of Months</label>
                                        @*<select id="ddlNoOfMonths" class="form-control m-b">
                                                <option Value="0">Select</option>
                                                <option Value="1">1</option>
                                                <option Value="2">2</option>
                                                <option Value="3">3</option>
                                                <option Value="4">4</option>
                                                <option Value="5">5</option>
                                                <option Value="6">6</option>
                                                <option Value="7">7</option>
                                                <option Value="8">8</option>
                                                <option Value="9">9</option>
                                                <option Value="10">10</option>
                                                <option Value="11">11</option>
                                                <option Value="12">12</option>
                                            </select>*@
                                        @Html.DropDownList("Months", new SelectList(ViewBag.MonthToPay, "pkiMemberId", "LastPaid"), new { @class = "form-control", multiple = "multiple", @id = "ddlMethodPayment" })
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <button id="example" class="btn btn-outline-secondary ml-1">Confirm</button>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Month Paid<em>*</em>  </label>
                                        @*@Html.EditorFor(, new { htmlAttributes = new { @class = "form-control", @id = "txtMonthPaid", @name = "name", @rows = "4" } })*@
                                        <textarea class="form-control" id="txtMonthPaid" rows="2" readonly="readonly">@nextPaymentDate</textarea>
                                    </div>

                                    @*<div class="form-group">
                                            @if (ViewBag.HasCreateRight)
                                            {
                                                <button id="btnPay" class="btn btn-md btn-primary" value="Add Payment" style="width: 96%;">Add Payment</button>
                                            }
                                        </div>*@
                                    <div class="form-group">
                                        @if (ViewBag.HasCreateRight)
                                        {

                                            if (policyStatus == "Active" || policyStatus == "1" || policyStatus == "On Trial" || policyStatus == "Trial")
                                            {
                                                <button id="btnPay" class="btn btn-md btn-primary" value="Add Payment" style="width: 96%;">Add Payment</button>
                                            }
                                            else
                                            {
                                                <button id="btnPay" class="btn btn-md btn-primary" value="Add Payment" style="width: 96%;" disabled>Add Payment</button>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @*<button id="btnPrint" class="btn btn-md btn-primary" value="Print"></button>*@
                                        @*<asp:Button runat="server" ID="btnPrint" CssClass="btn btn-md btn-primary" Text="Print" Width="95%" OnClick="btnPrint_Click" />*@
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    @if (IsjoiningFee == false)
                                    {
                                        <div class="form-group">
                                            <button id="btnJoiningFee" class="btn btn-md btn-primary" value="Rejoin Policy" style="width: 96%;">Pay Joining Fee</button>
                                        </div>
                                    }
                                    else if (IsjoiningFee == true || JoingingFee <= 0)
                                    {
                                        <div class="form-group">
                                            <button id="btnJoiningFee" class="btn btn-md btn-primary" value="Rejoin Policy" style="width: 96%;" disabled>Pay Joining Fee</button>
                                        </div>
                                    }

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <a href="@Url.Action("Index","MemberPayments")" value="Back" id="btnBack" class="btn btn-md btn-primary">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Member Plan Details</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Plan Name<em>*</em> </label>
                                        @Html.EditorFor(Model => Model.PlanName, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtPlan", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Premium <em>*</em> </label>
                                        @Html.EditorFor(Model => Model.PlanSubscription, new { @class = "form-control", @maxlength = "255", @id = "txtPremium", @name = "txtPremium", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Spouse</label>
                                        @Html.EditorFor(Model => Model.Spouse, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtSpouse", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Children</label>
                                        @Html.EditorFor(Model => Model.Children, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtChildren", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Extended </label>
                                        @Html.EditorFor(Model => Model.Adults, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtAdults", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Waiting Period</label>
                                        @Html.EditorFor(Model => Model.WaitingPeriod, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtWaitingPeriod", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Cover Amount</label>
                                        @Html.EditorFor(Model => Model.Cover, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtCover", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Total Premium</label>
                                        @*@Html.TextBoxFor(Model => Model.PlanSubscription, null,new { @class = "form-control", @maxlength = "255", @id = "txtTotalPremium",  @readonly = "readonly" } )*@
                                        <input type="text" class="form-control" maxlength="255" id="txtTotalPremium" readonly="readonly" value="@totalPremium">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Member Status</label>
                                        @Html.EditorFor(Model => Model.PolicyStatus, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtPolicyBalance", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Policy Balance</label>
                                        @*@Html.EditorFor(Model => Model.Balance, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtPolicyBalance", @name = "name", @readonly = "readonly" } })*@
                                        <input type="text" class="form-control" maxlength="255" id="txtPolicyBalance" readonly="readonly" value="@policyBalance">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Policy Laps</label>
                                        @Html.EditorFor(Model => Model.PolicyLaps, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtPolicyLaps", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>
                                @*<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Month Owing</label>
                                            @Html.EditorFor(Model => Model.MonthOwing, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtMonthOwing", @name = "name", @readonly = "readonly" } })
                                        </div>
                                    </div>*@
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Joining Fee</label>
                                        @Html.EditorFor(Model => Model.JoiningFee, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtJoiningFee", @name = "name", @readonly = "readonly" } })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                @*<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Joining Fee</label>
                                            @Html.EditorFor(Model => Model.JoiningFee, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @id = "txtJoiningFee", @name = "name", @readonly = "readonly" } })
                                        </div>
                                    </div>*@
                            </div>


                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <a href="@Url.Action("btnStatement", "Payments", new { memberId = MemberId,parlourId=ParlourID})" class="btn btn-md btn-primary" id="lbtnStatement">Statement</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    var model = ViewBag.MemberInvoiceList;
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Payment History</h5>
                <div class="table-responsive">
                    <div>
                        <table class="table table-striped table-bordered table-hover" cellspacing="0" rules="all" border="1" id="MainContent_gvInvoices" style="width:100%;border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <th class="visible-lg" scope="col">Date paid</th>
                                    <th scope="col">Amount</th>
                                    <th class="visible-lg" scope="col">Recieved by</th>
                                    <th class="visible-lg" scope="col">Months Paid &amp; Notes</th>
                                    <th scope="col">Actions</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                                @if (model != null && model.Count > 0)
                                {
                                    foreach (var item in model)
                                    {
                                        <tr>
                                            <td>@item.DatePaid</td>
                                            <td>@item.AmountPaid</td>
                                            <td>@item.RecievedBy</td>
                                            <td>@item.Notes</td>
                                            <td>
                                                <a href="@Url.Action("PrintPaymentReceipt", "Payments", new { id = item.InvoiceID, Type = 1, PolicyNumber = Model.MemeberNumber, DatePaid = item.DatePaid, AmountPaid = item.AmountPaid, PaidBy = item.PaidBy, ReceivedBy = item.RecievedBy, MonthPaid = item.Notes ,memberId=Model.pkiMemberID, parlourId=Model.ParlourId})">
                                                    <i class="glyphicon glyphicon-print"></i>
                                                </a>&nbsp;&nbsp;<a href="@Url.Action("PrintPaymentReceipt", "Payments", new { id = item.InvoiceID, Type = 2, PolicyNumber = Model.MemeberNumber, DatePaid = item.DatePaid, AmountPaid = item.AmountPaid, PaidBy = item.PaidBy, ReceivedBy = item.RecievedBy, MonthPaid = item.Notes,MemberId=Model.pkiMemberID, parlourId=Model.ParlourId })">
                                                    <i class="glyphicon glyphicon-export"></i>
                                                </a>
                                            </td>
                                            <td>

                                                @if (ViewBag.HasReversalPayment)
                                                {
                                                    if (item.IsReversal == false && item.AmountPaidNumeric > 0)
                                                    {
                                                        <a class="btn btn-w-m btn-primary paymentreversal" role="@item.InvoiceID" id="btnReversalPayment">Reversal Payment</a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //++++++++++++++++++++++++++++++++TEST++++++++++++++++++++++++++++++++
    //$(document).ready(function () {
    //    $('#ddlMethodPayment').multiselect();
    //});

    $(document).ready(function () {
        $('#ddlMethodPayment').multiselect({
            onChange: function (option, checked) {
                // Get selected options.
                var selectedOptions = $('#ddlMethodPayment option:selected');

                if (selectedOptions.length >= 1) {
                    // Disable all other checkboxes.
                    var nonSelectedOptions = $('#ddlMethodPayment option').filter(function () {
                        return !$(this).is(':selected');
                    });

                    nonSelectedOptions.each(function () {
                        var input = $('input[value="' + $(this).val() + '"]');
                        input.prop('disabled', true);
                        input.closest('.multiselect-option').addClass('disabled');
                    });
                }
                else {
                    // Enable all checkboxes.
                    $('#ddlMethodPayment option').each(function () {
                        var input = $('input[value="' + $(this).val() + '"]');
                        input.prop('disabled', false);
                        input.closest('.multiselect-option').addClass('disabled');
                    });
                }
            }
        });
    });

    //$(document).ready(function () {
    //    $('#ddlMethodPayment').multiselect({
    //        enableClickableOptGroups: false,
    //        includeSelectAllOption: false,
    //        //enableFiltering : true,
    //        onChange: function (option, checked, select) {
    //            alert('Changed option ' + $(option).val() + '.');
    //        }
    //    });
    //});


    //$(document).ready(function () {
    //    $('#ddlMethodPayment').multiselect({
    //        enableClickableOptGroups: false,
    //        includeSelectAllOption: false,
    //        //enableFiltering : true,
    //        onChange: function (option, checked, select) {
    //            alert('Changed option ' + $(option).val() + '.');
    //        }
    //    });
    //});

    //$(document).ready(function () {
    //    $('#example').click(function () {
    //        var selected = $('#ddlMethodPayment').val();
    //        alert( selected);
    //    })
    //});

        //$('#ddlMethodPayment').change(function () {
        //    var selectedValues = $(this).val();
        //    alert(selectedValues);
        //});


    //$("#example").click(function () {
    //    var selected = $("#ddlMethodPayment option:selected");    /*Current Selected Value*/
    //    var message = "";
    //    var arrSelected = [];      /*Array to store multiple values in stack*/
    //    selected.each(function () {
    //        arrSelected.push($(this).val());    /*Stack the Value*/
    //        message += $(this).text() + " " + $(this).val() + "\n";
    //    });
    //    alert(message);
    //});




    $("#ddlMethodPayment").change(function () {
        const selectedA = document.querySelectorAll('#ddlMethodPayment option:checked');
        const valuesA = Array.from(selectedA).map(el => el.textContent);
        //$("#txtMonthPaid").val('');
        //var selected = $(this).val();
        var GetPremiumForPolicyURl = $("#CalculateAmount").val();
        var selected = $("#ddlMethodPayment option:selected");
        var arrSelected = [];      /*Array where we store the values*/
        selected.each(function () {
            arrSelected.push($(this).val());  /*Stack the value*/
        });
        var data = {
            noOfMonths: parseInt(arrSelected.length),
			TotalPremieum: parseInt($("#txtTotalPremium").val().replace("@Model.Currency ", "")),
			LatePanelty: parseInt(0)
            //NextDate: $(selected)
        };
        if ($("#ddlPolicy :selected").val() != "") {
            $.ajax({
                url: GetPremiumForPolicyURl,
                data: data,
                type: "get",
                cache: false,
                success: function (result) {
                    //const selectedA = document.querySelectorAll('#ddlMethodPayment option:checked');
                    //const valuesA = Array.from(selectedA).map(el => el.textContent);

                    var newResult = result.split('~');
                    $("#txtAmount").val('');
					//$("#txtAmount").val('USD ' + newResult[0]);
					var a = parseInt(newResult[0]);
                    $("#txtAmount").val("@Model.Currency" + " " + a.toFixed(2));

                    $("#txtMonthPaid").val('');
                    $("#txtMonthPaid").val(valuesA);

                    @*if ($("#ddlNoOfMonths").val() == "1") {
                        $("#txtMonthPaid").val('');
                        $("#txtMonthPaid").val('@ViewBag.PaymentDate');
                    } else if ($("#ddlNoOfMonths").val() == "0") {
                        $("#txtMonthPaid").val('');
                        $("#txtMonthPaid").val('@ViewBag.PaymentDate');
                    } else {
                        $("#txtMonthPaid").val('');
                        $("#txtMonthPaid").val(newResult[1]);
                    }*@
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            })
        } else {
            alert("Please select policy..!");
        }
    });

    $("#btnPay").click(function () {
        var ManageMembersPaymentURL = $("#AddPayments").val();
        var data = {
            pkiMemberID: $("#pkiMemberID").val(),
            //Amount: $("#txtAmount").val().replace("USD ", ""),
            Amount: $("#txtAmount").val().replace("@Model.Currency", ""),
            LatePaymentPenalty: 0,
            ReceivedBy: $("#txtReceivedBy").val(),
            Notes: $("#ddlMethod :selected").text() + ' - ' + $("#txtMonthPaid").val(),
            MethodOfPayment: $("#ddlMethod :selected").text(),
            MemeberNumber: $("#txtMemberNo").val(),
            PaymentDate: $("#txtNextPaymentDate").val(),
            NextPaymentDate: $("#NextPaymentDate").val(),
            Branch: "test",
            parlourid: $("#parlourid").val(),
            FullNames: $("#txtMember").val(),
            LatePaymentId: $("#ddlMethodPayment option:selected").val()
        };


        $.ajax({
            url: ManageMembersPaymentURL,
            data: data,
            type: "post",
            cache: false,
            success: function (result) {
                location.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            }
        })
        //} else {
        //    alert("Please select policy..!");
        //}
    });


    //++++++++++++++++++++++++++++++++END TEST++++++++++++++++++++++++++++++++

    @*$("#ddlNoOfMonths").change(function () {
        var GetPremiumForPolicyURl = $("#CalculateAmount").val();
        var data = {
            noOfMonths: $("#ddlNoOfMonths").val(),
			TotalPremieum: parseInt($("#txtTotalPremium").val().replace("@Model.Currency ", "")),
			LatePanelty: parseInt(0),
            NextDate: $("#NextPaymentDate").val()
        };
        if ($("#ddlPolicy :selected").val() != "") {
            $.ajax({
                url: GetPremiumForPolicyURl,
                data: data,
                type: "get",
                cache: false,
                success: function (result) {
                    var newResult = result.split('~');
                    $("#txtAmount").val('');
					//$("#txtAmount").val('USD ' + newResult[0]);
					var a = parseInt(newResult[0]);
					$("#txtAmount").val("@Model.Currency" + " " + a.toFixed(2));
                    if ($("#ddlNoOfMonths").val() == "1") {
                        $("#txtMonthPaid").val('');
                        $("#txtMonthPaid").val('@ViewBag.PaymentDate');
                    } else if ($("#ddlNoOfMonths").val() == "0") {
                        $("#txtMonthPaid").val('');
                        $("#txtMonthPaid").val('@ViewBag.PaymentDate');
                    } else {
                        $("#txtMonthPaid").val('');
                        $("#txtMonthPaid").val(newResult[1]);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            })
        } else {
            alert("Please select policy..!");
        }
    });

    $("#btnPay").click(function () {
        var ManageMembersPaymentURL = $("#AddPayments").val();
        var data = {
            pkiMemberID: $("#pkiMemberID").val(),
            //Amount: $("#txtAmount").val().replace("USD ", ""),
            Amount: $("#txtAmount").val().replace("@Model.Currency", ""),
            LatePaymentPenalty: 0,
            ReceivedBy: $("#txtReceivedBy").val(),
            Notes: $("#ddlMethod :selected").text() + ' - ' + $("#txtMonthPaid").val(),
            MethodOfPayment: $("#ddlMethod :selected").text(),
            MemeberNumber: $("#txtMemberNo").val(),
            PaymentDate: $("#txtNextPaymentDate").val(),
            NextPaymentDate: $("#NextPaymentDate").val(),
            Branch: "test",
            parlourid: $("#parlourid").val(),
            FullNames: $("#txtMember").val()
        };


        $.ajax({
            url: ManageMembersPaymentURL,
            data: data,
            type: "post",
            cache: false,
            success: function (result) {
                location.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            }
        })
        //} else {
        //    alert("Please select policy..!");
        //}
    });*@

    $(".paymentreversal").click(function () {
        var confirmStatus =confirm("You are about to make a REVERSAL PAYMENT.Continue?");
        if (confirmStatus == true) {
            var ivnoiceId = $(this).attr("role");
            jQuery.ajax({
                url: '@Url.Action("PaymentReversal", "MemberPayments", new { },Request.Url.Scheme)?id=' + ivnoiceId,
                type: "Get",
                contentType: "application/html; charset=utf-8",
                dataType: 'html'
            })
                .success(function (Message) {
                    alert(Message);
                    location.reload();
                })
                .error(function (xhr, status) {
                    alert(status);
                });
        }
        else {
            return false;
        }
    })

    $("#btnJoiningFee").click(function () {
        var PayJoiningFeeURL = $("#JoiningFee").val();
        var data = {
            pkiMemberID: $("#pkiMemberID").val(),
            //Amount: $("#txtAmount").val().replace("USD ", ""),
            Amount: $("#txtJoiningFee").val().replace("@Model.Currency", ""),
            LatePaymentPenalty: 0,
            ReceivedBy: $("#txtReceivedBy").val(),
            Notes: $("#ddlMethod :selected").text() + ' - ' + $("#txtMonthPaid").val() + ' Joining Fee',
            MethodOfPayment: $("#ddlMethod :selected").text(),
            MemeberNumber: $("#txtMemberNo").val(),
            PaymentDate: $("#txtNextPaymentDate").val(),
            NextPaymentDate: $("#NextPaymentDate").val(),
            Branch: "test",
            parlourid: $("#parlourid").val(),
            FullNames: $("#txtMember").val()
        };
        $.ajax({
            url: PayJoiningFeeURL,
            data: data,
            type: "post",
            cache: false,
            success: function (result) {
                if (result == "JoiningFee added successfully.") {
                    alert("JoiningFee added successfully.");
                    location.reload();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            }
        })

    });

</script>